<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rigollet Code - Search Filter</title>
    <link rel="shortcut icon" href="img/codigo.svg">
    <!--CSS-->
    <link rel="stylesheet" href="css/home/search-wrapper.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/home/navbar.css">    
  </head>
  <body>
    <!-- NavBar -->
    <div class="header">
      <div class="navbar">
        <div class="navbar__wrapper">
          <nav class="navbar__menu">
            <a class="navbar__brand" href="index.html"><img src="img/codigo.svg" alt="Claudio Rigollet" style="width: 45px;">Rigollet Code</a>
            <div id="nav-icon3"><span></span><span></span><span></span><span></span></div>
            <ul class="navbar__nav">
              <li class="navbar__link after-transform"><a class="active" href="index.html">Inicio</a></li>
              <li class="navbar__link after-transform"><a href="python.html">Python</a></li>
              <li class="navbar__link after-transform"><a href="django.html">Django</a></li>
              <li class="navbar__link after-transform"><a href="javascript.html">JavaScripts</a></li>
              <li class="navbar__link after-transform"><a href="css.html">CSS</a></li>
              <li class="navbar__link after-transform"><a href="html.html">HTML 5</a></li>
              <li class="navbar__link after-transform"><a href="#">PHP</a></li>
              <li class="navbar__link after-transform"><a href="#">Oracle SQL</a></li>
              <li class="navbar__link after-transform"><a href="git.html">Git</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- NavBar Responsive -->
      <div class="navbar-responsive">
        <ul class="navbar-responsive__nav">
          <li class="navbar-responsive__link after-transform"><a class="active" href="index.html">Inicio</a></li>
          <li class="navbar-responsive__link after-transform"><a href="python.html">Python</a></li>
          <li class="navbar-responsive__link after-transform"><a href="django.html">Django</a></li>
          <li class="navbar-responsive__link after-transform"><a href="javascript.html">JavaScripts</a></li>
          <li class="navbar-responsive__link after-transform"><a href="css.html">CSS</a></li>
          <li class="navbar-responsive__link after-transform"><a href="html.html">HTML 5</a></li>
          <li class="navbar-responsive__link after-transform"><a href="#">PHP</a></li>
          <li class="navbar-responsive__link after-transform"><a href="#">Oracle SQL</a></li>
          <li class="navbar-responsive__link after-transform"><a href="git.html">Git</a></li>
        </ul>
      </div>
    </div>
    <!-- APP -->
    <div id="app">
      <div class="search-wrapper">
        <input type="text" v-model="search" placeholder="Documentación de búsqueda..">
        <label>Título de búsqueda:</label>
      </div>
      <div class="wrapper">
        <div class="card" v-for="post in filteredList">
          <a v-bind:href="post.link" target="_blank">
            <img v-bind:src="post.img">
            <small>Categoría: {{ post.category }}</small>
            {{ post.title }}
          </a>
        </div>
      </div>
    </div>
    <!--JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.9/vue.min.js"></script>
    <script src="js/home/search-wrapper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/home/navbar.js"></script>
  </body>
</html>
